<div class="menu_container">
  <h1>マイページ</h1>
  <ul class="my_menus">
    <li><%= link_to "出品する", new_users_product_path %></li>
    <li><%= link_to "出品中の商品", users_products_path %></li>
    <li><%= link_to "お気に入り商品", favorites_path %></li>
    <li><%= link_to "プロフィール編集", edit_users_profiles_path %></li>
    <li><%= link_to "サインアウト", sign_out_path %></li>
  </ul>
</div>
