<div class="page-container">
  <% if @products.any? %>
  <section class="items-box-container">
  <% @products.each do |product| %>
    <div class="items-box-content">
      <%= link_to markets_show_path(product) do %>
      <div class="items-box-photo">
        <% if product.status == "soldout" %>
          <div class="soldout"><%= image_tag("soldout.png") %></div>
        <% end %>
        <%= image1_url(product) %>
      </div>
      <% end %>
      <div class="items-box-body">
        <h3><%= product.name %></h3>
        <p class="items-box-price">\<%= number_with_delimiter(product.price) %></p>
        <p class="items-box-tax">(税込)</p>
        <% if user_signed_in? && product.user_id != current_user.id %>
        <div class="items-box-favorite">
          <%= link_to create_favorite_path(product) do %>
          <i class="fa <%= product.favorite?(current_user)? "fa-star": "fa-star-o" %>"></i>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% else %>
  <p class="empty">対象の商品は見つかりませんでした。</p>
  <% end %>
  <div class="pagenation_wrap">
    <%= paginate @products %>
  </div>
  </section>
  <%= render partial: 'search_menu' %>
</div>
